/* Importing Bootstrap SCSS file. */
@import "./global-styling/colors.scss";
$primary: $origin-blue;
@import '~bootstrap/scss/bootstrap';
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/input-group";
@import 'bootstrap-icons';
@import './global-styling/action-modal.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Open Sans,sans-serif;
    font-style: normal;

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
	    background-color: #F5F5F5;
    }

    ::-webkit-scrollbar-thumb {
        background-color: $origin-blue;
	    border: 2px solid #555555;
    }
}

.box-shadow {
    -webkit-box-shadow: 4px 4px 7px 7px rgba(23, 83, 126, 0.15);
    -moz-box-shadow: 4px 4px 7px 7px rgba(23, 83, 126, 0.15);
    box-shadow: 4px 4px 7px 7px rgba(23, 83, 126, 0.15);
}

input {
    padding: 12px 9px;
    font-size: 16px;
    line-height: 16px;
    color: #3e3e3e;
    border: none;
    border-radius: 8px;
    background-color: #ebebeb;

    &.password {
        margin-top: 12px;
    }
}

button:disabled, input:disabled, select:disabled {
    cursor: not-allowed;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

.pointer {
    cursor: pointer;
}

//Dashboard
.module-container.dashboard {
    gap: 10px;

    .host {
        border: 1px solid black;
        width: calc(100vw - 35px);
        max-width: 500px;
        padding: 5px;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow-y: auto;
        position: relative;

        .loading {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #ebebeb;
            opacity: 0.9;
        }
    }
    
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid black;
        padding-bottom: 4px;

        .title {
            text-transform: uppercase;
            font-weight: 600;
        }
    
        label {
            margin: 0 10px 0 0;
        }
    
        .buttons-wrapper {
            display: flex;
            gap: 10px;
        }
    }
    
    .control {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
    
        .control-label {
            gap: 4px;
            width: 20%;
            display: flex;
            text-align: start;
            justify-content: flex-start;
            align-items: center;
            
            p {
                font-size: 13px;
            }
        }
    
        div.control-value {
            width: 80%;
            font-size: 13px;
            
            textarea {
    
                width: 100%;
                padding: 5px;
            
                &.description {
                    min-height: 100px;
                }
            }
    
            &.external-members {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
    
                .external-member {
                    border: 1px solid lightgray;
                    padding: 6px;
                    border-radius: 5px;
                }
    
                .member {
                    border-bottom: 1px solid lightgray;
                    padding: 6px;
                    width: 40%;
                    font-weight: 600;
    
                    button {
                        width: 100%;
                    }
                }
            }
        }
    }
}

