/* Importing Bootstrap SCSS file. */
@import "./global-styling/colors.scss";
$primary: $origin-blue;
@import '~bootstrap/scss/bootstrap';
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/input-group";
@import 'bootstrap-icons';
@import './global-styling/action-modal.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Open Sans,sans-serif;
    font-style: normal;

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
	    background-color: #F5F5F5;
    }

    ::-webkit-scrollbar-thumb {
        background-color: $origin-blue;
	    border: 2px solid #555555;
    }
}

.box-shadow {
    -webkit-box-shadow: 4px 4px 7px 7px rgba(23, 83, 126, 0.15);
    -moz-box-shadow: 4px 4px 7px 7px rgba(23, 83, 126, 0.15);
    box-shadow: 4px 4px 7px 7px rgba(23, 83, 126, 0.15);
}

input {
    padding: 12px 9px;
    font-size: 16px;
    line-height: 16px;
    color: #3e3e3e;
    border: none;
    border-radius: 8px;
    background-color: #ebebeb;

    &.password {
        margin-top: 12px;
    }
}

button:disabled, input:disabled, select:disabled {
    cursor: not-allowed;
}

