/*  COLORS  */
$white: #fff;
$origin-red: #b41f24;
$origin-blue: #17537e;
$origin-blue-80: #17537e80;

$font-white: #fff;
$font-black: #3e3e3e;
$font-gray: #888;
$font-warning: orange;
$font-red: #b41f24;
$font-green: #1ac73f;

$background-gray: #ebebeb;
$background-light-gray: #fafafa;
$background-white: #fff;
$background-warning: #CC3333;
$light-green: #cee7c96b;
$light-red: #e57e882e;
$solid-green: #1ac73f;
$light-green: #ebf9ed;

$table-border: 1px solid #dee2e6;


/* other */
$radius: 8px;
$margin-left-width: 156px;