.host-container {
    border: 1px solid black;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 12px;

    h4 {
        width: 100%;
    }
}