@import '../../../global-styling/colors.scss';

.host-container {
    border: 1px solid black;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    background: $background-light-gray;

    h4 {
        width: 100%;
    }

    &:hover {
        cursor: pointer;
        color: $origin-red;
    }
}