
<div class="month-selector">
  <button [disabled]="buttonDisabled" class="btn btn-primary" (click)="monthEarlier()"><i class="bi bi-chevron-left"></i></button>
    <span>{{(showingMonth) + ' ' + (showingDate | date:'YYYY')}}</span>
  <button [disabled]="buttonDisabled" class="btn btn-primary" (click)="monthLater()"><i class="bi bi-chevron-right"></i></button>
</div>

<app-diary-table
  [allMusicians]="musicians"
  [dataToShow]="filteredLessons"
  [loading]="presencesLoading || musiciansLoading"
  [dateFrom]="dateFrom"
  [dateTo]="dateTo"
  (onLessonSave)="getPresences()"
  (disableButtons)="toggleDisableButtons($event)"
></app-diary-table>



