# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
chamonix-app/dist
chamonix-app/tmp
chamonix-app/out-tsc
# Only exists if Bazel was run
chamonix-app/bazel-out

# dependencies
chamonix-app/node_modules
node_modules

# profiling files
chamonix-app/chrome-profiler-events*.json

# IDEs and editors
chamonix-app/.idea
chamonix-app/.project
chamonix-app/.classpath
chamonix-app/.c9/
chamonix-app/*.launch
chamonix-app/.settings/
chamonix-app/*.sublime-workspace

# IDE - VSCode
chamonix-app/.vscode/*
chamonix-app/!.vscode/settings.json
chamonix-app/!.vscode/tasks.json
chamonix-app/!.vscode/launch.json
chamonix-app/!.vscode/extensions.json
chamonix-app/.history/*

# misc
chamonix-app/.sass-cache
chamonix-app/connect.lock
chamonix-app/coverage
chamonix-app//libpeerconnection.log
chamonix-app/npm-debug.log
chamonix-app/yarn-error.log
chamonix-app/testem.log
chamonix-app//typings

# System Files
chamonix-app/.DS_Store
chamonix-app/Thumbs.db
