<app-modal-wrapper>

    <div class="action-modal">
        <h2 *ngIf="!editingItem">Dodaj element</h2>
        <h2 *ngIf="editingItem">Edytuj element</h2>
        <h5>dla grupy: <strong>{{uniformGroup.name}}</strong></h5>
        <ng-container *ngIf="!requestPending">

            <form id="partsForm" [formGroup]="form" >
                <div *ngFor="let control of  partsFieldAsFormArray.controls ;let i = index;" formArrayName='parts' class="mb-3 mt-3 form-control-wrapper">
                    <div class="control-wrapper name" [formGroupName]="i">
                        <label for="uniformsGroupName">Nazwa elementu</label>
                        <input
                            type="text"
                            class="form-control"
                            placeholder="np. Mundury galowe ..."
                            formControlName="name"
                        >
                    </div>
                    <div class="control-wrapper amount" [formGroupName]="i">
                        <label for="uniformsGroupName">Ilość</label>
                        <input
                            type="number"
                            class="form-control"
                            formControlName="amount"
                            min="1"
                        >
                    </div>
                    <div class="control-wrapper remove">
                        <label for="uniformsGroupName" style="color:#fff;">Usuń</label>
                        <button class="btn btn-danger btn-sm" (click)="remove(i)">
                            <i class="bi bi-x-lg"></i>
                        </button>
                    </div>
                    
                </div>
                <button *ngIf="!editingItem" class="btn btn-primary add-control" (click)="addControl()">Dodaj kolejny</button>
            </form>
        </ng-container>

        <app-loading *ngIf="requestPending"></app-loading>

        <div class="buttons-wrapper">
            <button class="btn btn-secondary" (click)="closeModal()">Anuluj</button>
            <button *ngIf="!editingItem" class="btn btn-primary" (click)="addParts()">Zapisz</button>
            <button *ngIf="editingItem" class="btn btn-primary" (click)="editPart()">Zapisz</button>
        </div>
    </div>

</app-modal-wrapper>
