<table class="table table-bordered table-hover">
    <thead *ngIf="deviceType !== 'phone'">
        <th class="name-cell">Imię i nazwisko</th>
        <th class="month-cell">Styczeń</th>
        <th class="month-cell">Luty</th>
        <th class="month-cell">Marzec</th>
        <th class="month-cell">Kwiecień</th>
        <th class="month-cell">Maj</th>
        <th class="month-cell">Czerwiec</th>
        <th class="month-cell">Lipiec</th>
        <th class="month-cell">Sierpień</th>
        <th class="month-cell">Wrzesień</th>
        <th class="month-cell">Październik</th>
        <th class="month-cell">Listopad</th>
        <th class="month-cell">Grudzień</th>
    </thead>
    <tbody>
        <ng-container *ngFor="let member of list.members">
            <tr >
                <th *ngIf="deviceType === 'laptop'" class="name">
                    <span>{{member.member.firstName + ' ' + member.member.lastName}}</span>
                    <span class="edit" *ngIf="deviceType === 'laptop' && canEdit">
                        <i class="bi bi-pencil" (click)="toggleModal(member)"></i>
                    </span>
                </th>
                <th *ngIf="deviceType !== 'laptop'" class="name" (click)="toggleModal(member)">
                    <span>{{member.member.firstName}}</span>
                    <br>
                    <span>{{member.member.lastName}}</span>
                </th>
                <td *ngFor="let month of member.months" class="month-cell" [class.paid]="month.paid">
                    {{setRomanianMonths(month.monthNumber)}}
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>


<app-edit-modal 
    *ngIf="modalIsOpen && memberToModal && canEdit"
    [member]="memberToModal"
    [listId]="list._id"
    (onCancel)="toggleModal()">
</app-edit-modal>
