@import '../../../global-styling/mixins.scss';

.month-cell {
    min-width: 70px;
    text-align: center;
    padding: 12px 0;
    font-size: 12px;

    &.paid {
        -webkit-box-shadow: inset 0px 0px 0px 20px #a5ce9f5c;
        -moz-box-shadow: inset 0px 0px 0px 20px #a5ce9f5c;
        box-shadow: inset 0px 0px 0px 20px #a5ce9f5c;
    }
}

.name-cell {
    width: 180px;
}

table {
    max-width: 1100px;
    font-size: 13px;
    
    tbody tr th.name {
        position: relative;

        span.edit {
            position: absolute;
            right: 8px;
            visibility: hidden;
        }
        
        &:hover {
            span.edit {
                visibility: visible;
                cursor: pointer;
            }
        }
    }
    
    td {
        vertical-align: middle;
    }
}

@include phone {
    table * {
        padding: 1px;
        font-size: 12px;
    }

    .month-cell {
        min-width: 40px;

    }
}
