<table class="table table-bordered table-hover">
    <thead>
        <th class="name-cell">Imię i nazwisko</th>
        <th class="month-cell">Styczeń</th>
        <th class="month-cell">Luty</th>
        <th class="month-cell">Marzec</th>
        <th class="month-cell">Kwiecień</th>
        <th class="month-cell">Maj</th>
        <th class="month-cell">Czerwiec</th>
        <th class="month-cell">Lipiec</th>
        <th class="month-cell">Sierpień</th>
        <th class="month-cell">Wrzesień</th>
        <th class="month-cell">Październik</th>
        <th class="month-cell">Listopad</th>
        <th class="month-cell">Grudzień</th>
    </thead>
    <tbody>
        <ng-container *ngFor="let member of list.members">
            <tr >
                <th class="name">
                    <span>{{member.member.firstName + ' ' + member.member.lastName}}</span>
                    <span class="edit">
                        <i class="bi bi-pencil" (click)="toggleModal(member)"></i>
                    </span>
                </th>
                <td *ngFor="let month of member.months" class="month-cell">
                    <ng-container *ngIf="month.paid"><i class="bi bi-check2"></i></ng-container>
                    <!-- <ng-container *ngIf="!month.paid"><i class="bi bi-x-lg"></i></ng-container> -->
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>


<app-edit-modal 
    *ngIf="modalIsOpen && memberToModal"
    [member]="memberToModal"
    [listId]="list._id"
    (onCancel)="toggleModal()">
</app-edit-modal>
