<div *ngIf="deviceType === 'laptop' || deviceType === 'tablet'" class="laptop-container">
    <ng-container *ngFor="let option of navOptions">
        <div (click)="changeActiveItem(option)" class="nav-item" [class.active]="checkIsActive(option.href)"><h5>{{option.name}}</h5></div>
    </ng-container>
</div>

<div *ngIf="deviceType === 'phone'" class="phone-container">
    <ng-container *ngFor="let option of navOptions">
        <div (click)="changeActiveItem(option)" class="nav-item tablet" [class.active]="checkIsActive(option.href)" *ngIf="option.isActive || navIsOpen" (click)="toggleNav()">
            <h5>{{option.name}}</h5>
            <div class="search-row-toggle" >
                <svg [class.rotate]="navIsOpen" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/>
                </svg>
            </div>
        </div>
    </ng-container>
</div>