@import '../../../global-styling/colors.scss';
@import '../../../global-styling/mixins.scss';

.section-header {
    padding: 8px 20px;
    width: 100%;
    border: 1px solid $origin-blue;
    border-radius: $radius;
    margin-bottom: 24px;

    @include phone {
        padding: 8px;
    }

    h4 {
        font-size: 1.3rem;
    }

    .section-header-wrapper {
        display: flex;
        gap: 6px;
        cursor: pointer;

        .info {
            flex: 5;

            align-items: center;

            h4 {
                margin-bottom: 0;
            }
 
            span, strong {
                line-height: 25px;

                @include phone {
                    font-size: 14px;
                }
                
            }

            strong {
                font-style: italic;
            }

        }

        .filters {
            display: flex;
            align-items: center;
            flex:2;
            gap: 10px;
    
            p {
                margin: 0;
            }
    
            @include phone {
                flex-direction: column;
            }
    
            button {
                width: 100%;
            }
        }
    }
}