
<ng-container>
    <div  *ngIf="deviceType === 'laptop'" class="bookmarks">
        <div class="bookmark-item" [class.active]="activeTab.uniforms" (click)="toggleActiveTab('uniforms')">
            Umundurowanie
        </div>
        <div class="bookmark-item" [class.active]="activeTab.instruments" (click)="toggleActiveTab('instruments')">
            Sprzęt
        </div>
        <div class="bookmark-item" [class.active]="activeTab.sections" (click)="toggleActiveTab('sections')">
            Grupy
        </div>
    </div>

    <select 
    *ngIf="deviceType === 'phone' || deviceType === 'tablet'"
    name="Group to show"
    id="group-to-show"
    (change)="toggleActiveTab($event)"
    class="form-control">
        <option value="uniforms">Umundurowanie</option>
        <option value="instruments">Sprzęt</option>
        <option value="sections">Grupy</option>
    </select>
    
    <div class="actions">        
        <button *ngIf="activeTab.instruments  && canEditInstruments()" class="btn btn-primary btn-sm" (click)="toggleAddResourceInstrument(true)">
            <i class="bi bi-plus"></i>
            Sprzęt</button>
        <button *ngIf="activeTab.uniforms && canEditUniforms()" class="btn btn-primary btn-sm" (click)="toggleAddResourceUniforms(true)">
            <i class="bi bi-plus"></i>
            Umundurowanie</button>
        <button *ngIf="activeTab.sections  && canEditInstruments()" class="btn btn-primary btn-sm" (click)="toggleAddResourceSections(true)">
            <i class="bi bi-plus"></i>
            Grupa</button>
    </div>
</ng-container>
