
<ng-container *ngIf="true">
    <div class="bookmarks">
        <div class="bookmark-item" [class.active]="activeTab.uniforms" (click)="toggleActiveTab('uniforms')">
            Umundurowanie
        </div>
        <div class="bookmark-item" [class.active]="activeTab.instruments" (click)="toggleActiveTab('instruments')">
            Instrumenty
        </div>
        <div class="bookmark-item" [class.active]="activeTab.sections" (click)="toggleActiveTab('sections')">
            Sekcje
        </div>
        <div class="bookmark-item" [class.active]="activeTab.instructors" (click)="toggleActiveTab('instructors')">
            Instruktorzy
        </div>
        <div class="bookmark-item" [class.active]="activeTab.others" (click)="toggleActiveTab('others')">
            Pozostałe
        </div>
    </div>
    
    <div class="actions">        
        <button *ngIf="activeTab.instruments" class="button-primary" (click)="toggleAddResourceInstrument(true)">Dodaj instrument</button>
        <button *ngIf="activeTab.uniforms" class="button-primary" (click)="toggleAddResourceUniforms(true)">Dodaj umundurowanie</button>
    </div>
</ng-container>
