@import '../../../global-styling/colors.scss';

.main-wrapper {
    padding: 16px 24px;
}

table.small-table {
    width: 300px;
}

.name-wrapper {
    text-align: end;
}

// .instrument-info {
// }

// .contact-info {
// }