<div *ngIf="memberData" class="main-wrapper">

    <div *ngIf="!loading" class="name-wrapper mb-4 mr-4">
        <div class="button-container">
            <button class="button button-small" (click)="editMemberisOpen=true">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                    <path fill="#fff" d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0S96 57.3 96 128s57.3 128 128 128zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H322.8c-3.1-8.8-3.7-18.4-1.4-27.8l15-60.1c2.8-11.3 8.6-21.5 16.8-29.7l40.3-40.3c-32.1-31-75.7-50.1-123.9-50.1H178.3zm435.5-68.3c-15.6-15.6-40.9-15.6-56.6 0l-29.4 29.4 71 71 29.4-29.4c15.6-15.6 15.6-40.9 0-56.6l-14.4-14.4zM375.9 417c-4.1 4.1-7 9.2-8.4 14.9l-15 60.1c-1.4 5.5 .2 11.2 4.2 15.2s9.7 5.6 15.2 4.2l60.1-15c5.6-1.4 10.8-4.3 14.9-8.4L576.1 358.7l-71-71L375.9 417z"/>
                </svg>
            </button>
      </div>
      <h2>{{memberData.firstName + ' ' + memberData.lastName}}</h2>
    </div>
    
    <div *ngIf="!loading" class="content-container">

        <div class="left-container">

            <app-member-instruments [instruments]="memberData.resources.instruments"></app-member-instruments>
            
            <app-member-uniforms [member]="memberData" [id]="id"></app-member-uniforms>
            
        </div>


        <div class="right-table-container">
            <table class="table small-table">

                <thead>
                    <th>Info o instrumencie</th>
                </thead>
                <tbody>
                <tr>
                    <td>instrument</td>
                    <th>{{memberData.instrument.name}}</th>
                </tr>
                <tr>
                    <td>sekcja</td>
                    <th>{{memberData.instrument.section.name}}</th>
                </tr>
                </tbody>

                <thead>
                    <th>Info osobowe</th>
                </thead>
                <tbody>
                    <tr>
                        <td>data urodzenia</td>
                        <th>{{memberData.birthDate}}</th>
                    </tr>
                    <tr>
                        <td>wiek</td>
                        <th>{{getAge(memberData.birthDate)}}</th>
                    </tr>
                    <tr>
                        <td>data dołączenia</td>
                        <th>{{memberData.joiningDate | date:'yyyy-MM-dd'}}</th>
                    </tr>
                    <tr>
                        <td>staż</td>
                        <th>{{getAge(memberData.joiningDate)}}</th>
                    </tr>
                </tbody>


                <thead>
                    <th>Info kontaktowe</th>
                </thead>
                <tbody>
                    <tr>
                        <td>telefon</td>
                        <th (click)="copyToClipboard(memberData.phone)">{{memberData.phone ? memberData.phone : '---'}}</th>
                    </tr>
                    <tr>
                        <td>email</td>
                        <th (click)="copyToClipboard(memberData.email)" >{{memberData.email ? memberData.email : '---'}}</th>
                    </tr>
                    <tr>
                        <td>ulica i nr domu</td>
                        <th>{{memberData.address1 ? memberData.address1 : '---'}}</th>
                    </tr>
                    <tr>
                        <td>kod pocztowy</td>
                        <th>{{memberData.address2 ? memberData.address2 : '---'}}</th>
                    </tr>
                    <tr *ngIf="memberData.parentName">
                        <td>opiekun</td>
                        <th>{{memberData.parentName}}</th>
                    </tr>
                    <tr *ngIf="memberData.parentPhone">
                        <td>opiekun</td>
                        <th>{{memberData.parentPhone}}</th>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>

<div class="loading-wrapper" *ngIf="loading">
    <app-loading></app-loading>
</div>

<app-modal-wrapper *ngIf="editMemberisOpen">
    <app-add-member [memberToEdit]="memberData" (onEditClose)="closeModalAndGetData()"></app-add-member>
</app-modal-wrapper>

