<div *ngIf="memberData" class="main-wrapper">

    <div *ngIf="!loading" class="name-wrapper mb-4">
      <h2>{{memberData.firstName + ' ' + memberData.lastName}}</h2>
    </div>
    
    <div *ngIf="!loading" class="content-container">

        <div class="left-container">

            <app-member-instruments [instruments]="memberData.resources.instruments"></app-member-instruments>
            
            <app-member-uniforms [member]="memberData" [id]="id"  [canEdit]="canEdit()"></app-member-uniforms>
            
        </div>


        <div class="right-table-container host-container">
            <div class="header">
                <h4 (click)="toggleContactInfoIsOpen()">Dane osobowe</h4>
                <button *ngIf="canEdit()" class="btn btn-primary btn-sm" (click)="editMemberisOpen=true">
                    <i class="bi bi-pencil"></i>
                </button>
            </div>
            <table *ngIf="contactInfoIsOpen" class="table small-table">

                <thead>
                    <th>Techniczne</th>
                </thead>
                <tbody>
                <tr>
                    <td>instrument</td>
                    <th>{{memberData.instrument.name}}</th>
                </tr>
                <tr>
                    <td>sekcja</td>
                    <th>{{memberData.instrument.section.name}}</th>
                </tr>
                </tbody>

                <thead>
                    <th>Osobowe</th>
                </thead>
                <tbody>
                    <tr>
                        <td>data urodzenia</td>
                        <th>{{memberData.birthDate}}</th>
                    </tr>
                    <tr>
                        <td>wiek</td>
                        <th>{{getAge(memberData.birthDate)}}</th>
                    </tr>
                    <tr>
                        <td>data dołączenia</td>
                        <th>{{memberData.joiningDate | date:'yyyy-MM-dd'}}</th>
                    </tr>
                    <tr>
                        <td>staż</td>
                        <th>{{getAge(memberData.joiningDate)}}</th>
                    </tr>
                </tbody>


                <thead>
                    <th>Kontaktowe</th>
                </thead>
                <tbody>
                    <tr>
                        <td>telefon</td>
                        <th (click)="copyToClipboard(memberData.phone)">
                            <a [href]="'tel:'+memberData.phone">
                                {{memberData.phone ? memberData.phone : '---'}}
                            </a>
                        </th>
                    </tr>
                    <tr>
                        <td>email</td>
                        <th (click)="copyToClipboard(memberData.email)">
                            <a [href]="'mailto:'+memberData.email">
                                {{memberData.email ? memberData.email : '---'}}
                            </a>
                        </th>
                    </tr>
                    <tr>
                        <td>ulica i nr domu</td>
                        <th>{{memberData.address1 ? memberData.address1 : '---'}}</th>
                    </tr>
                    <tr>
                        <td>kod pocztowy</td>
                        <th>{{memberData.address2 ? memberData.address2 : '---'}}</th>
                    </tr>
                    <tr *ngIf="memberData.parentName">
                        <td>opiekun</td>
                        <th>{{memberData.parentName}}</th>
                    </tr>
                    <tr *ngIf="memberData.parentPhone">
                        <td>opiekun</td>
                        <th>{{memberData.parentPhone}}</th>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>

<div class="loading-wrapper" *ngIf="loading">
    <app-loading></app-loading>
</div>

<app-modal-wrapper *ngIf="editMemberisOpen">
    <app-add-member [memberToEdit]="memberData" (onEditClose)="closeModalAndGetData()"></app-add-member>
</app-modal-wrapper>

