@import '../../../global-styling/colors.scss';

.main-wrapper {
    padding: 10px;
}

.loading-wrapper {
    height: calc(100vh - 165px);
    display: flex;
    align-items: center;
    justify-content: center;
}

button {

    width: 40px;
    height: 25px;

    svg {
        height: 20px;
    }
}

.content-container {
    display: flex;
    justify-content: space-between;
}

.right-table-container {
    overflow-y: auto;
    max-height: calc(100vh - 230px);
    margin-top: 16px;
    width: 40%;
}

table.small-table {
    thead {

        &:first-child th {
            height: 40px;
        }

        th {
            height: 85px;
            display: flex;
            align-items: flex-end;
            width: 175px;
            border-top: unset;
        }
    }

    tbody {
        th {
            max-width: 285px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

.name-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    gap: 10px;

    h2 {
        margin: 0;
    }
}

.right-table-container {
    border-left: $table-border;
}

.left-container {
    width: 60%;
    padding: 0 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: calc(100vh - 215px);
}