
<div *ngIf="!loading" class="section-header box-shadow">
    <div class="section-header-wrapper">
        <i *ngIf="!isOpen" class="bi bi-chevron-double-down"></i>
        <i *ngIf="isOpen" class="bi bi-chevron-double-up"></i>
        <div class="info" (click)="toggleIsGroupOpen()">
            <span>{{filteredGroup && filteredGroup.length ? filteredGroup.length : 0}}</span>
            <h4>{{groupName}}</h4>
        </div>
        <div class="filters">
            <p>filtr: </p>
            <button class="btn btn-secondary" [class.active]="filter==='used'" (click)="toggleFilter('used')">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-person-fill-check" viewBox="0 0 16 16">
                    <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514ZM11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                    <path d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z"/>
                  </svg>
                {{viewOnPhone() ? "" : "Używane"}}
            </button>
            <button class="btn btn-secondary" [class.active]="filter==='unused'" (click)="toggleFilter('unused')">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-person-fill-slash" viewBox="0 0 16 16">
                    <path d="M13.879 10.414a2.501 2.501 0 0 0-3.465 3.465l3.465-3.465Zm.707.707-3.465 3.465a2.501 2.501 0 0 0 3.465-3.465Zm-4.56-1.096a3.5 3.5 0 1 1 4.949 4.95 3.5 3.5 0 0 1-4.95-4.95ZM11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z"/>
                  </svg>
                {{viewOnPhone() ? "" : "Nieużywane"}}
            </button>
        </div>
    </div>
    <div class="tablewrapper" *ngIf="isOpen && filteredGroup">
        <table class="table mt-4">
            <colgroup *ngIf="viewOnPhone()">
                <col width="5%"><col width="5%">
                <col width="5%"><col width="5%">
                <col width="5%"><col width="5%">
                <col width="5%"><col width="5%">
                <col width="5%"><col width="5%">
                <col width="5%"><col width="5%">
                <col width="5%"><col width="5%">
                <col width="5%"><col width="5%">
                <col width="5%"><col width="5%">
                <col width="5%"><col width="5%">
            </colgroup>
            <thead>
                <th >typ</th>
                <th>firma</th>
                <th *ngIf="!viewOnPhone()">model</th>
                <th *ngIf="!viewOnPhone()">nr seryjny</th>
                <th *ngIf="!viewOnPhone()">stan</th>
                <th>użytkownik</th>
                <th *ngIf="!viewOnPhone()">opis</th>
                <th *ngIf="!viewOnPhone() && canEditInstruments()">akcje</th>
            </thead>
            <tbody>
                <ng-container *ngFor="let instrument of filteredGroup">
                    <tr (click)="toggleOpenDetails(instrument)" [class.open]="viewOnPhone() && instrument.isOpen">
                        <td>{{instrument.type.name}}</td>
                        <td>{{instrument['brand']}}</td>
                        <td *ngIf="!viewOnPhone()">{{instrument['model']}}</td>
                        <td *ngIf="!viewOnPhone()" class="serialNumber">{{instrument['serialNumber']}}</td>
                        <td *ngIf="!viewOnPhone()">{{instrument['condition']}}</td>
                        <td>{{instrument['user'] ? instrument.user.firstName[0] + '. ' + instrument.user.lastName : '---'}}</td>
                        <td *ngIf="!viewOnPhone()" class="description">{{instrument['description']}}</td>
                        <td *ngIf="!viewOnPhone()" class="actions">
                            <div *ngIf="canEditInstruments()" class="actions-wrapper">
                                <button class="btn btn-primary btn-sm" (click)="selectAndEdit(instrument)">
                                    <i class="bi bi-pencil"></i>
                                </button>
                                <button class="btn btn-danger btn-sm" (click)="selectInstrumentToRemoce(instrument)">
                                    <i class="bi bi-x-lg"></i>
                                </button>
                            </div>
                        </td>
                        
                    </tr>
                    <tr *ngIf="viewOnPhone() && instrument.isOpen">
                        <td colspan=100 class="additinal-row">
                            <app-resources-instrument-details
                            [instrument]="instrument"
                            [canEdit]="canEditInstruments()"
                            (onEdit)="selectAndEdit($event)"
                            (onRemove)="selectInstrumentToRemoce($event)"
                            ></app-resources-instrument-details>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>


</div>

<app-confirmation
    *ngIf="confirmationRemoveIsOpen"
    [type]="'removeInstrument'"
    [data]="selectedInstrument"
    (onConfirm)="removeInstrument(selectedInstrument._id)"
    (onAbort)="confirmationRemoveIsOpen=false"
></app-confirmation>
<app-add-resource-instrument 
    *ngIf="editingIsOpen"
    [editingItem]="selectedInstrument"
    (onModalClose)="closeEditingModal()"
></app-add-resource-instrument>