
<div *ngIf="!loading" class="section-header box-shadow">
    <div class="section-header-wrapper">
        <div class="info" (click)="openCard(groupName)">
            <h4>{{SectionNameTranslations[groupName]}}</h4>
            <span>{{filteredGroup && filteredGroup.length ? filteredGroup.length : 0}}</span>
        </div>
        <div class="filters">
            <p>filtr: </p>
            <button class="btn btn-secondary btn-sm" [class.active]="filter==='used'" (click)="toggleFilter('used')">
                Używane
            </button>
            <button class="btn btn-secondary btn-sm" [class.active]="filter==='unused'" (click)="toggleFilter('unused')">
                Nieużywane
            </button>
        </div>
    </div>
    <div class="tablewrapper" *ngIf="sectionIsOpen[groupName] && filteredGroup">
        <table class="table mt-4">
            <thead>
                <th>typ</th>
                <th>firma</th>
                <th *ngIf="!viewOnPhone()">model</th>
                <th *ngIf="!viewOnPhone()">nr seryjny</th>
                <th *ngIf="!viewOnPhone()">stan</th>
                <th>użytkownik</th>
                <th *ngIf="!viewOnPhone()">opis</th>
                <th *ngIf="!viewOnPhone()">akcje</th>
            </thead>
            <tbody>
                <ng-container *ngFor="let instrument of filteredGroup">
                    <tr (click)="toggleOpenDetails(instrument)" [class.open]="viewOnPhone() && instrument.isOpen">
                        <td>{{instrument.type.name}}</td>
                        <td>{{instrument['brand']}}</td>
                        <td *ngIf="!viewOnPhone()">{{instrument['model']}}</td>
                        <td *ngIf="!viewOnPhone()" class="serialNumber">{{instrument['serialNumber']}}</td>
                        <td *ngIf="!viewOnPhone()">{{instrument['condition']}}</td>
                        <td>{{instrument['user'] ? instrument.user.firstName[0] + '. ' + instrument.user.lastName : '---'}}</td>
                        <td *ngIf="!viewOnPhone()" class="description">{{instrument['description']}}</td>
                        <td *ngIf="!viewOnPhone()" class="actions">
                            <div class="actions-wrapper">
                                <button class="btn btn-primary btn-sm" (click)="selectAndEdit(instrument)">
                                    <i class="bi bi-pencil"></i>
                                </button>
                                <button class="btn btn-danger btn-sm" (click)="selectInstrumentToRemoce(instrument)">
                                    <i class="bi bi-x-lg"></i>
                                </button>
                            </div>
                        </td>
                        <app-resources-instrument-details
                        *ngIf="viewOnPhone() && instrument.isOpen"
                        [instrument]="instrument"
                        (onEdit)="selectAndEdit($event)"
                        (onRemove)="selectInstrumentToRemoce($event)"
                    ></app-resources-instrument-details>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>


</div>

<app-confirmation
    *ngIf="confirmationRemoveIsOpen"
    [type]="'removeInstrument'"
    [data]="selectedInstrument"
    (onConfirm)="removeInstrument(selectedInstrument._id)"
    (onAbort)="confirmationRemoveIsOpen=false"
></app-confirmation>
<app-add-resource-instrument 
    *ngIf="editingIsOpen"
    [editingItem]="selectedInstrument"
    (onModalClose)="closeEditingModal()"
></app-add-resource-instrument>