@import '../../../global-styling/colors.scss';
@import '../../../global-styling/mixins.scss';

.section-header {
    padding: 8px 20px;
    width: 100%;
    border: 1px solid $origin-blue;
    border-radius: $radius;
    margin-bottom: 24px;

    @include phone {
        padding: 8px;
    }

    h4 {
        font-size: 1.3rem;
    }

    .section-header-wrapper {
        display: flex;

        .info {
            display: flex;
            flex: 8;
            grid-gap: 10px;
            gap: 10px;
            align-items: center;

            h4 {
                margin-bottom: 0;
            }
 
            span {
                line-height: 25px;
             }
        }

        .filters {
            display: flex;
            align-items: center;
            flex:2;
            gap: 10px;

            p {
                margin: 0;
            }

            button {
                font-size: 12px;

                &.active {

                    box-shadow: 0px 0px 8px green;
                }
            }
        }
    }
}

.actions-wrapper {
    display: flex;
    gap: 3px;
}

table {
    thead {
        font-size: .85rem;
    }

    tbody {
        font-size: .75rem;

        tr {
            position: relative;

            &.open {
                background-color: $background-gray;
            }
        }

        .serialNumber {
            max-width: 175px;
        }

        .description {
            width: 200px;
        }

        .actions {
            width: 120px;
        }
    }
}