// .host {
//     border: 1px solid black;
//     width: calc(100vw - 35px);
//     max-width: 500px;
//     padding: 5px;
// }

// .header {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;

//     label {
//         margin: 0 10px 0 0;
//     }
// }

.selector {
    width: 100%;

    .year-preview {
        width: 100%;
        text-align: center;
        margin-top: 8px;
    }

    .triggers {
        display: flex;
        margin: 10px 50px;
        justify-content: space-between;
        align-items: center;
    }

}