.selector {
    width: 100%;

    .year-preview {
        width: 100%;
        text-align: center;
        margin-top: 8px;
    }

    .triggers {
        display: flex;
        margin: 10px 50px;
        justify-content: space-between;
        align-items: center;
    }

}

select {
    padding: 3px;
}