<app-modal-wrapper>

    <div class="action-modal">

        <h2>Edytuj użytkowników</h2>
        <p class="confirmation">rok:<strong>{{' ' + year}}</strong></p>

        <div class="actions" *ngIf="!membersLoading && allMembers">
            <button [disabled]="saving" class="btn btn-primary" (click)="checkAll('check')">Wszyscy</button>
            <button [disabled]="saving" class="btn btn-primary" (click)="checkAll('uncheck')">Nikt</button>
        </div>

        <div class="table-wrapper" *ngIf="!membersLoading && allMembers">
            <table class="table table-stripped">
                <thead>
                    <th></th>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                </thead>
                <tbody>
                    <tr *ngFor="let member of allMembers" [class.present]="member.onTheList" (click)="togglePresentOnTheList(member)">
                        <td *ngIf="member.onTheList"><i class="bi bi-check2"></i></td>
                        <td *ngIf="!member.onTheList"><i class="bi bi-x-lg"></i></td>
                        <td>{{member.firstName}}</td>
                        <td>{{member.lastName}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="members-loading" *ngIf="membersLoading">
            <app-loading></app-loading>
        </div>
        <div class="member-failed-loaded-message" *ngIf="!membersLoading && membersLoadingFailedMessage">
            {{membersLoadingFailedMessage}}
        </div>

        <div class="buttons-wrapper">
            <button class="btn btn-secondary" (click)="closeModal()" [disabled]="saving">Anuluj</button>
            <button class="btn btn-primary" (click)="save()" [disabled]="membersLoadingFailedMessage || saving">{{
                saving ? 'Zapisywanie...' : 'Potwierdź'
            }}</button>
        </div>
    </div>


</app-modal-wrapper>
