@import '../../../global-styling/colors.scss';
@import '../../../global-styling/mixins.scss';

.section-header {
    padding: 8px 20px;
    width: 100%;
    max-width: 1400px;
    border: 1px solid $origin-blue;
    border-radius: $radius;
    margin-bottom: 24px;

    h4 {
        font-size: 1.3rem;
    }

    .section-header-wrapper {
        display: flex;
        gap: 6px;
        cursor: pointer;

        .info {
            width: 75%;

            @include tablet {
                width: 65%;
            }
        }
    }

    .filters {
        display: flex;
        align-items: center;
        flex:2;
        gap: 10px;

        p {
            margin: 0;
        }

        @include phone {
            flex-direction: column;
        }

        button {
            width: 100%;
        }
    }

}

table.table {
    width: 50%;
    margin-top: 24px;
    margin-left: 5%;

    @include phone {
        width: 100%;
        margin-left: 0;
    }

    .state {
        width: 115px;
        font-size: 13px;

        .state-label {
            width: 50px;
        }

        .state-value {
            font-weight: 600;
        }
    }

}

.actions-wrapper {
    display: flex;
    gap: 3px;

    @include phone {
        flex-direction: column;
    }
}