<div *ngIf="!loading" class="section-header box-shadow">

    <div class="section-header-wrapper">
        <i *ngIf="!isOpen" class="bi bi-chevron-double-down"></i>
        <i *ngIf="isOpen" class="bi bi-chevron-double-up"></i>
        <div class="info" (click)="toggleCard()">
            <h4>{{uniformsGroup.name}}</h4>
            <p>liczba elementów: <ng-container>{{parts ? parts.length : '0'}}</ng-container></p>
        </div>
        <div class="filters" *ngIf="canEdit()">
            <button class="btn btn-primary btn-sm" (click)="openModalEditGroup()">
                <i class="bi bi-pencil"></i>
                edytuj
            </button>
            <button class="btn btn-primary btn-sm" (click)="openAddParts()">
                <i class="bi bi-plus-lg"></i>
                dodaj
            </button>
            <button class="btn btn-danger btn-sm" (click)="openConfirmation()">
                <i class="bi bi-x-lg"></i>
                usuń
            </button>
        </div>
    </div>
    
    <div *ngIf="isOpen" class="collabsable">

        <table class="table">
            <thead>
                
            </thead>
            <tbody>
                <tr *ngFor="let item of parts">
                    <td>{{item.name}}</td>
                    <td class="state">
                        <div>
                            <div class="mr-3 d-flex">
                                <div class="state-label mr-1">stan:</div>
                                <div class="state-value">{{comupteState(item).state }}</div>
                            </div>
                            <div class="mr-3  d-flex">
                                <div class="state-label mr-1">wydane:</div>
                                <div class="state-value">{{comupteState(item).inUse }}</div>
                            </div>
                            <div class="d-flex">
                                <div class="state-label mr-1">wolne:</div>
                                <div class="state-value">{{comupteState(item).free }}</div>
                            </div>
                        </div>
                    </td>
                    <td class="actions">
                        <div class="actions-wrapper" *ngIf="canEdit()">
                            <button class="btn btn-primary btn-sm" (click)="selectEditingPart(item)">
                                <i class="bi bi-pencil"></i>
                            </button>
                            <button class="btn btn-danger btn-sm" (click)="removePart(item)">
                                <i class="bi bi-x-lg"></i>
                            </button>

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<app-confirmation 
    *ngIf="confirmationIsOpen"
    [type]="'removeUniformGroup'"
    [data]="uniformsGroup"
    (onAbort)="confirmationIsOpen=false"
    (onConfirm)="removeGroup()"
></app-confirmation>

<app-confirmation
    *ngIf="removePartIsOpen" 
    [type]="'removeUniformPart'"
    [data]="selectedPart"
    (onAbort)="removePartIsOpen=false"
    (onConfirm)="confirmPartRemove()"
></app-confirmation>

<app-add-resource-uniform
    *ngIf="editGroupIsOpen"
    [editingItem]="uniformsGroup"
    (onCloseModal)="closeEditModal()"
></app-add-resource-uniform>

<app-add-resource-uniform-part
    *ngIf="addPartsIsOpen"
    (onCloseModal)="closeAddPartsModal()"
    [uniformGroup]="uniformsGroup"
></app-add-resource-uniform-part>

<app-add-resource-uniform-part
    [editingItem]="selectedPart"
    *ngIf="editPartIsOpen"
    (onCloseModal)="closeAddPartsModal()"
    [uniformGroup]="uniformsGroup"
></app-add-resource-uniform-part>
