.host {
    border: 1px solid black;
    max-width: 420px;
    padding: 5px;
}

.header {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;

    label {
        margin: 0
    }
}

.selector {
    width: 100%;

    .year-preview {
        width: 100%;
        text-align: center;
    }

    .triggers {
        display: flex;
        margin: 0 50px;
        justify-content: space-between;
        align-items: center;
    }

}