<div class="host">
    <div class="header">
        <div class="title">Najbliższe wydarzenia</div>
        <div class="buttons-wrapper">
            <button class="btn btn-sm btn-primary" (click)="showPreviousEvent()" [disabled]=disabledShowPrevious()>
                <i class="bi bi-chevron-bar-left"></i>
            </button>
            <button class="btn btn-sm btn-primary" (click)="showNextEvent()" [disabled]="disabledShowNext()">
                <i class="bi bi-chevron-bar-right"></i>
            </button>
        </div>
    </div>

    <ng-container *ngIf="selectedEvent" >

        <div class="control">
            <div class="control-label">
                <p>Data:</p>
            </div>
            <div class="control-value">
                {{selectedEvent.dateFrom | date:'dd.MM.YYYY'}}
                <ng-container *ngIf="selectedEvent.dateTo">
                    {{' - '}}
                    {{selectedEvent.dateTo | date:'dd.MM.YYYY'}}
                </ng-container>
            </div>
        </div>

        <div class="control">
            <div class="control-label">
                <p>Nazwa:</p>
            </div>
            <div class="control-value">
                <textarea cols="2" disabled>{{selectedEvent.title}}</textarea>
            </div>
        </div>

        <div class="control">
            <div class="control-label">
                <p>Adres:</p>
            </div>
            <div class="control-value">
                <textarea cols="2" disabled>{{selectedEvent.address}}</textarea>
            </div>
        </div>

        <div class="control">
            <div class="control-label">
                <p>Mój status:</p>
            </div>
                <div class=" control-value external-members toggleMyStatus">
                    <div class="member">
                        <p>{{renderMyStatus()}}</p>
                    </div>
                    <div class="member">
                        <button 
                            [disabled]="changeStatusPending"
                            class="btn btn-sm btn-primary"
                            (click)="changeMyStatus()"
                        >
                            {{changeStatusPending ? 'zapisywanie' : 'Zmień'}}</button>
                    </div>
                </div> 
        </div>
    </ng-container>
</div>