<div class="host">
    <div class="header">
        <div class="title">Najbliższe wydarzenia</div>
        <div class="buttons-wrapper">
            <button class="btn btn-sm btn-primary" (click)="showPreviousEvent()" [disabled]=disabledShowPrevious()>
                <i class="bi bi-chevron-bar-left"></i>
            </button>
            <button class="btn btn-sm btn-primary" (click)="showNextEvent()" [disabled]="disabledShowNext()">
                <i class="bi bi-chevron-bar-right"></i>
            </button>
        </div>
    </div>

    <ng-container *ngIf="selectedEvent" >

        <div class="control">
            <div class="control-label">
                <p>Data:</p>
            </div>
            <div class="control-value">
                {{selectedEvent.dateFrom | date:'dd.MM.YYYY'}}
                <ng-container *ngIf="selectedEvent.dateTo">
                    {{' - '}}
                    {{selectedEvent.dateTo | date:'dd.MM.YYYY'}}
                </ng-container>
            </div>
            <button class="btn btn-sm btn-primary" (click)="showDetails()">
                <i class="bi bi-fullscreen"></i>
            </button>
        </div>

        <div class="control">
            <div class="control-label">
                <p>Nazwa:</p>
            </div>
            <div class="control-value">
                <textarea cols="2" disabled>{{selectedEvent.title}}</textarea>
            </div>
        </div>

        <div class="control">
            <div class="control-label">
                <p>Adres:</p>
            </div>
            <div class="control-value">
                <textarea cols="2" disabled>{{selectedEvent.address}}</textarea>
            </div>
        </div>

        <div class="control">
            <div class="control-label">
                <p>Mój status:</p>
            </div>
            <div class=" control-value external-members toggleMyStatus">
                <div class="member">
                    <select 
                        name="myStatus"
                        id="myStatus"
                        [(ngModel)]="currentMemberState"
                        (change)="changeMyStatus()"
                    >
                        <option [value]="true">{{renderMyStatus(true)}}</option>
                        <option [value]="false">{{renderMyStatus(false)}}</option>
                        <option [value]="undefined">{{renderMyStatus(undefined)}}</option>
                    </select>
                </div>
                <div class="loading-wrapper">
                    <app-loading [small]="true" *ngIf="changeStatusPending"></app-loading>
                </div>
            </div> 

        </div>
    </ng-container>
</div>