<app-modal-wrapper>
    <div class="action-modal">
        <div>
            <h2 *ngIf="!editingItem">Dodaj sprzęt</h2>
            <h2 *ngIf="editingItem">Edytuj sprzęt</h2>
        </div>

        <div class="scrollable">
            <div class="mb-3 mt-4 selector">
                <label for="birthDate">Grupa</label>
                <app-loading *ngIf="sectionsLoading" [small]="true"></app-loading>
                <select *ngIf="sections && !sectionsLoading" [(ngModel)]="activeSection" (change)="getInstrumentsBbySection()">
                    <option *ngFor="let section of sections" [value]="section._id">{{section.name}}</option>
                </select>
            </div>
    
            <div *ngIf="activeSection" class="mb-3 selector">
                <p *ngIf="!instrumentsBySection.length">
                    Ta grupa nie ma przypisanych żadnych sprzętów. Wróć do zakładki 'Grupy' i dodaj instrument.
                </p>
                <label *ngIf="instrumentsBySection.length" for="instrumentsBySection">Instrument</label>
                <app-loading *ngIf="!instrumentsReady" [small]="true"></app-loading>
                <select *ngIf="instrumentsBySection.length" [(ngModel)]="activeInstrument">
                    <option *ngFor="let instrument of instrumentsBySection" [value]="instrument._id">{{instrument.name}}</option>
                </select>
            </div>
    
            <form id="instrumentForm" *ngIf="activeInstrument" [formGroup]="instrumentForm" (ngSubmit)="editingItem ? updateInstrument() : addInstrument()">
                <div class="mb-2 form-control-wrapper">
                    <label for="brand">Marka</label>
                    <input
                        id="brand"
                        type="text"
                        class="form-control"
                        placeholder="marka"
                        formControlName="brand"
                    >
                </div>
                <div class="mb-2 form-control-wrapper">
                    <label for="model">Model</label>
                    <input
                        id="model"
                        type="text"
                        class="form-control"
                        placeholder="model"
                        formControlName="model"
                    >
                </div>
                <div class="mb-2 form-control-wrapper">
                    <label for="model">Nr seryjny</label>
                    <input
                        id="serialNumber"
                        type="text"
                        class="form-control"
                        placeholder="nr seryjny"
                        formControlName="serialNumber"
                    >
                </div>
                <div class="mb-2 form-control-wrapper">
                    <label for="model">Stan</label>
                    <input
                        id="condition"
                        type="text"
                        class="form-control"
                        placeholder="np. do remontu lub sprawny"
                        formControlName="condition"
                    >
                </div>
    
                <div class="mb-2 form-control-wrapper">
                    <label for="model">Informacje dodatkowe</label>
                    <input
                        id="description"
                        type="text"
                        class="form-control"
                        placeholder="Krótki opis, dodatkow informacje"
                        formControlName="description"
                    >
                </div>
    
                <div class="mb-2 form-control-wrapper">
                    <label for="model">Osoba przypisana</label>
                    <app-loading *ngIf="!activeMembers" [small]="true"></app-loading>
                    <select *ngIf="activeMembers" formControlName="user">
                        <option value="">nikt</option>
                        <option *ngFor="let member of activeMembers" [value]="member._id">{{member.lastName + ' ' + member.firstName}}</option>
                    </select>
                </div>
            </form>
    
    
            <div class="buttons-wrapper">
                <button class="btn btn-secondary" (click)="closeModal()">Anuluj</button>
                <button *ngIf="!editingItem" class="btn btn-primary" type="submit" form="instrumentForm" [disabled]="instrumentForm.status === 'INVALID' || !instrumentsBySection.length">Dodaj</button>
                <button *ngIf="editingItem" class="btn btn-primary" type="submit" form="instrumentForm" [disabled]="instrumentForm.status === 'INVALID' || !instrumentsBySection.length" >Zapisz</button>
            </div>
        </div>
    </div>
    
</app-modal-wrapper>
