@import '../../../global-styling/mixins.scss';

:host {
    @include phone {
        label,select,input {
            font-size:13px;
        }
    }
}

.selector {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scrollable {
    overflow-y: auto;
    width: 90%;
}

label {
    width: 100px;
}

select {
    height: 40px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include phone {
        align-items: stretch;

        select {
            width: 90% !important;
        }
    }

    label {
        width: 200px;
        margin-bottom: 0;
    }
    
    select {
        width: 100%;;
    }
}