<div class="module-container">
    <app-new-event *ngIf="userCanChange()"></app-new-event>
    <div class="year-selector">
        <button class="btn btn-primary" (click)="goPreviousYear()"><i class="bi bi-chevron-left"></i></button>
        <span>{{ showingYear }}</span>
        <button class="btn btn-primary" (click)="goNextYear()"><i class="bi bi-chevron-right"></i></button>
    </div>

    <div *ngIf="loading" class="loading-wrapper">
        <app-loading></app-loading>
    </div>

    <div class="no-list-info" *ngIf="events.length === 0 && !loading">
        Dla wybranego roku nie ma jeszcze żadnych wydarzeń.
    </div>

    <div class="table-wrapper" *ngIf="events.length > 0 && !loading">
        <app-events-list  [list]="events"></app-events-list>
    </div>
</div>

<app-event-details *ngIf="detailsModalIsOpen"></app-event-details>