@import'../../../global-styling/colors.scss';

table {
    font-size: 13px;
}

tbody {
    tr {
        background-color: $light-green;

        &.deprecated {
            background-color: $background-light-gray;
        }
    }
    
    tr:hover {
        background: $background-light-gray;
        cursor: pointer;
        color: $origin-red;
    }
}

.action-buttons {
    display: flex;
    gap: 4px;
}