
<ng-container *ngIf="membersTableIsOpen">
    <div *ngIf="deviceType === 'laptop'" class="bookmarks">
        <div class="bookmark-item" [class.active]="membersTabs.currentMembers" (click)="toggleActiveTab('currentMembers')">
            Obecni członkowie
        </div>
        <div class="bookmark-item" [class.active]="membersTabs.mainStaff" (click)="toggleActiveTab('mainStaff')">
            Muzycy
        </div>
        <div class="bookmark-item" [class.active]="membersTabs.students" (click)="toggleActiveTab('students')">
            Uczniowie
        </div>
        <div class="bookmark-item" [class.active]="membersTabs.exMembers" (click)="toggleActiveTab('exMembers')">
            Byli członkowie
        </div>
    </div>

    <select 
    *ngIf="deviceType === 'phone' || deviceType === 'tablet'"
    name="Group to show"
    id="group-to-show"
    (change)="toggleActiveTab($event)"
    class="form-control">
        <option value="currentMembers">Obecni członkowie</option>
        <option value="mainStaff">Muzycy</option>
        <option value="students">Uczniowie</option>
        <option value="exMembers">Byli członkowie</option>
    </select>
    
    <div class="actions">
        <button class="button-primary" (click)="openAddMember()">Dodaj członka</button>
    </div>
</ng-container>

<button *ngIf="memberDetailsAreOpen" (click)="closeDetails()">Powrót</button>


<app-modal-wrapper *ngIf="addMemberIsOpen">
    <app-add-member></app-add-member>
</app-modal-wrapper>
