@import '../../../global-styling/colors.scss';
@import '../../../global-styling/mixins.scss';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.action-buttons {
  display: flex;
  gap: 8px;
  height: 50px;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
}

.table-wrapper {
  max-width: 90vw;
  overflow-x: auto;
}

table {
  width: unset;
  margin-top: 12px;

  thead {
    .addNew {
      padding: 5px;

      input {
        width: 140px;
      }
    }
  }
}

td.name {
  min-width: 200px;
  @include phone {
    min-width: 160px;
  }
}

td.date {
  width: 40px;
  text-align: center;
}

td.addNew {
  background-color: aliceblue;
  padding: 8px;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.stats-info {
  text-align: end;
}


.no-events-info, .loading-wrapper {
  margin-top: 24px;
}

@include phone {
  table {
    font-size: 11px;
  }
}
