<app-members-navigation></app-members-navigation>
<router-outlet></router-outlet>

<!-- current members -->
<app-members-table *ngIf="tabs.currentMembers && membersTableIsOpen" [membersType]="'currentMembers'"></app-members-table>

<!-- ex members -->
<app-members-table *ngIf="tabs.exMembers && membersTableIsOpen" [membersType]="'exMembers'"></app-members-table>

<!-- main staff members -->
<app-members-table *ngIf="tabs.mainStaff && membersTableIsOpen" [membersType]="'mainStaff'"></app-members-table>

<!-- main staff members -->
<app-members-table *ngIf="tabs.students && membersTableIsOpen" [membersType]="'students'"></app-members-table>

<!-- spectators members -->
<app-members-table *ngIf="tabs.spectators && membersTableIsOpen" [membersType]="'spectators'"></app-members-table>
