@import '../../../global-styling/mixins.scss';
@import '../../../global-styling/colors.scss';

$border: 1px solid black;

.action-modal {
    width: 800px;
    max-height: 90vh;
    overflow-y: auto;
    display: block;
}

.wrapper {
    width: 80%;
    margin: 0 auto;;
}

.control {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;

    .control-label {
        gap: 4px;
        width: 20%;
        display: flex;
        text-align: start;
        justify-content: flex-start;
        align-items: center;
        
        p {
            font-size: 13px;
        }
    }

    div.control-value {
        width: 80%;
        font-size: 13px;
        min-height: 46px;

        &.external-members {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;

            .external-member {
                border: 1px solid lightgray;
                padding: 6px;
                border-radius: 5px;
            }

            .member {
                border-bottom: 1px solid lightgray;
                padding: 6px;
                width: 40%;

                button {
                    width: 100%;
                }
            }
        }
    }
}

textarea {

    width: 100%;
    padding: 5px;

    &.description {
        min-height: 100px;
    }
}

select {
    width: auto;
    padding: 4px;
}

.buttons-wrapper.middle {
    justify-content: center;
}

.event-members {
    display: flex;
    gap: 0 !important;

    .member-stat-header {
        font-size: 13px;
        font-weight: 500;
        border-bottom: $border;
        padding-bottom: 3px;
        border-right: $border;
    }

    .present {
        width: 33%;
        border-right: $border;
        border-left: $border;


        .member-stat-header {
            border-right: none;
        }
    }

    .unpresent {
        width: 33%;
        border-right: $border;

        .member-stat-header {
            border-right: none
        }
    }

    .undecided {
        width: 33%;
        border-right: $border;

        .member-stat-header {
            border-right: none
        }
    }

    .member {
        padding: 2px;
        margin: 4px;
        border-radius: 5px;
        background-color: #ebebeb;
        cursor: pointer;
    }
}

.example-list {
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
    height: 100%;
  }
  
  .example-box {
    padding: 5px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background: white;
    font-size: 12px;
  }

@include phone {

    .action-modal {
        width: 100vw;
        max-height: 100vh;
        min-height: 100vh;
        border-radius: 0;
    }

    .wrapper {
        width: 100%;
        margin: 0 auto;
    }

    .control {
        flex-wrap: wrap;

        .control-value {
            width: 100% !important;
        }
    }

}