@import '../../../global-styling/colors.scss';

:host {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background-color: #fff;
    z-index: 10;
    padding: 12px;
    background-color: $background-gray;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}

.info {
    display: flex;
    gap: 5px;
    align-items: center;
    height: 25px;

    p {
        margin: 0;
    }
}

.actions-wrapper {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}