@import '../../../global-styling/colors.scss';

:host {
    background-color: $background-gray;
    z-index: 10;
    padding: 12px;
}

.info {
    display: flex;
    gap: 5px;
    align-items: center;
    height: 25px;

    p {
        margin: 0;
    }
}

.actions-wrapper {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}