<div class="host-container" [class.preview]="isUserPreview()">
    <div class="header">
        <h4 (click)="tableIsOpen()">
            Umundurowanie 
            <ng-container *ngIf="isUserPreview()">
            <span>{{' -  ' + userDetails.firstName + ' ' + userDetails.lastName}}</span>
        </ng-container></h4>
        <button class="btn btn-primary btn-sm copy" (click)="copyUrl()">
            <i class="bi bi-share"></i>
        </button>
        <button *ngIf="canEditUniforms()" class="btn btn-primary btn-sm" (click)="assignUniformsIsOpen=true">
            <i class="bi bi-pencil"></i>
        </button>
        <button *ngIf="isUserPreview()" class="btn btn-primary btn-sm" (click)="back">
            <i class="bi bi-arrow-left"></i>
        </button>
    </div>
    
    <div *ngIf="loading" class="loading-container">
        <app-loading></app-loading>
    </div>
    
    <div class="content">
        
        <table class="table" *ngIf="isOpen">
            <ng-container *ngFor="let group of uniformsGroups">
                <thead>
                    <tr>
                        <th (click)="toggleIsOpen(group._id)">{{group.name}}</th>
                        
                    </tr>
                </thead>
                <tbody class="mb-5" *ngIf="group.isOpen">
                    <tr *ngFor="let part of group.parts">
                        <ng-container >
                            <td class="pl-5" [class.include]="isMemberHasPart(part.usingMembers)">{{part.name}}</td>
                        </ng-container>
                    </tr>
                </tbody>
            </ng-container>
        </table>
    </div>
</div>

<app-assign-uniforms *ngIf="assignUniformsIsOpen" [member]="member" [uniforms]="uniformsGroups" (onCloseModal)="onAssignClose()"></app-assign-uniforms>