@import '../../../global-styling/colors.scss';

.host-container {
    border: 1px solid black;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    background: $background-light-gray;

    h4 {
        width: 100%;
    }

    &:hover {
        cursor: pointer;
        color: $origin-red;
    }

    button {
        width: 34px;
        height: 30px;
    }
}

thead tr :hover {
    background: $background-light-gray;
    cursor: pointer;
    color: $origin-red;
}