@import '../../../global-styling/colors.scss';

.host-container {
    border: 1px solid black;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

table {
    font-size: 13px;

    tbody tr td {
        color: #9e9e9e61;
    
        &.include {
            color: black
        }
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    background: $background-light-gray;

    h4 {
        width: 100%;
    }

    &:hover {
        cursor: pointer;
        color: $origin-red;
    }

    button {
        width: 34px;
        height: 30px;
        &.copy {
            margin-right: 10px;
        }
    }
}

thead tr :hover {
    background: $background-light-gray;
    cursor: pointer;
    color: $origin-red;
}

.host-container.preview {
    border: none;

    .header {
        h4 {
            font-size: 14px;
            font-weight: 600;
        }

        &:hover {
            cursor: default;
            color: unset;
        }
    }

    thead tr :hover {
        background: $white;
        cursor: default;
        color: unset;
    }
}