@import'../../../global-styling/colors.scss';

.table-wrapper {
    overflow-y: auto;
    max-height: calc(100vh - 200px);
}

table.table {
    margin: 20px auto;
    width: 70vw;

    thead {
        position: sticky;
        top: 0;
        left: 0;
        background: #ebebeb;

        th {
            position: relative;
            

            &:not(:last-child) {
                border-right: 1px solid $background-gray;
            }

            &:hover {
                color: $origin-red;
                cursor: pointer;
            }
        }
    }

    tbody {
        td {
            button {
                display: inline;

                &:not(:last-child) {
                    margin-right: 3px;
                }
            }
        }

        tr:hover {
            background: $background-light-gray;
            cursor: pointer;
            color: $origin-red;
        }
    }
}

.sorting-arrow {
    display: none;
    height: 16px;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    &.asc {
        display: block;
    }
    &.desc {
        display: block;
        transform: rotate(180deg) translateY(40%) ;
    }
}

.search-row {

    background-color: $background-light-gray;

    th {
        padding: 0 10px;
    }

    input {
        width: 90%;
        border-radius: $radius;
        border: 1px solid $font-gray;
        padding: 2px 5px;
        font-size: 12px;
        display: none;
    }

    &.open {

        th {
            padding: 10px;
        }
        input {
            display: block;
        }

        .search-row-toggle svg {
            transform: scale(-1);
        }
    }
}

.search-row-toggle {
    svg {
        height: 10px;
    }
}

.loading-wrapper {
    height: calc(100vh - 165px);
    display: flex;
    align-items: center;
    justify-content: center;
}
