@import'../../../global-styling/colors.scss';
@import'../../../global-styling/mixins.scss';

.table-wrapper {
    overflow-y: auto;
    max-height: calc(100vh - 200px);
    @include phone {
        padding: 0 8px;
    }
}

table.table {
    margin: 20px auto;
    width: 70vw;
    border-collapse: unset;
    border-spacing: unset;

    @include phone {
        margin: 0 auto;
    }

    thead {
        position: sticky;
        top: 0;
        left: 0;
        background: #ebebeb;
        z-index: 2;
        
        tr {
            box-shadow: inset 0 1px 0 #dee2e6, inset 0 -1px 0 #dee2e6;
            &:first-child {
                box-shadow: inset 0 2px 0 #dee2e6, inset 0 -1px 0 #dee2e6;
            }
        }

        th {
            position: relative;
            
            &:hover {
                color: $origin-red;
                cursor: pointer;
            }

            &.sortBy {
                padding-left: 14px;

                @include phone {
                    padding-left: 10px;
                }
            }
        }
    }

    tbody {
        td {
            button {
                display: inline;

                &:not(:last-child) {
                    margin-right: 3px;
                }
            }
        }

        tr:hover {
            background: $background-light-gray;
            cursor: pointer;
            color: $origin-red;
        }
    }

    @include phone {
        width: 90vw;
        th, td {
            padding: 2px 5px;
            vertical-align: middle;
            font-size: 13px;
            max-width: 100px;
            height: 45px;

            &.action {

                .trigger {
                    display: flex;
                    justify-content: center;
                }

                button {
                    font-style: normal;

                    &.remove {
                        color: $background-warning;
                    }
                }
            }
        }
    }
}

.sorting-arrow {
    display: none;
    height: 16px;
    position: absolute;
    left: -1px;
    top: 46%;
    transform: translateY(-50%);
    &.asc {
        display: block;
    }
    &.desc {
        display: block;
        transform: rotate(180deg) translateY(40%) ;
    }

    @include phone {
        height: 12px;
    }
}

.search-row {

    background-color: $background-light-gray;

    th {
        padding: 0 10px;

        @include phone {
            height: unset !important;
        }
    }

    input {
        width: 90%;
        border-radius: $radius;
        border: 1px solid $font-gray;
        padding: 2px 5px;
        font-size: 12px;
        display: none;
    }

    &.open {

        th {
            padding: 10px 0;
            height: 54px !important;
        }
        input {
            display: block;
            height: 24px;
        }

        .search-row-toggle svg {
            transform: scale(-1);
        }
    }
}

.search-row-toggle {
    svg {
        height: 10px;
        margin-left: 4px;
    }
}

.loading-wrapper {
    height: calc(100vh - 165px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
   button {
    width: 75%;
    margin-left: 6px;
    margin-top: 6px;
   } 
}
