<div class="table-wrapper">
    <table *ngIf="!loading" class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" (click)="changeSorting('firstName')" [class.sortBy]="sorting.firstName">
                    <img 
                    class="sorting-arrow"
                    [class.asc]="sorting.firstName === 'asc'"
                    [class.desc]="sorting.firstName === 'desc'" 
                    src="../../../assets/icons/arrow.svg"
                    alt="sorting-arrow"
                    >
                    Imię
                </th>
                <th scope="col" (click)="changeSorting('lastName')" [class.sortBy]="sorting.lastName">
                    <img 
                    class="sorting-arrow"
                    [class.asc]="sorting.lastName === 'asc'"
                    [class.desc]="sorting.lastName === 'desc'" 
                    src="../../../assets/icons/arrow.svg"
                    alt="sorting-arrow"
                    >
                    Nazwisko
                </th>
                <th scope="col" (click)="changeSorting('instrument')" [class.sortBy]="sorting.instrument">
                Instrument
                <img 
                    class="sorting-arrow"
                    [class.asc]="sorting.instrument === 'asc'"
                    [class.desc]="sorting.instrument === 'desc'" 
                    src="../../../assets/icons/arrow.svg"
                    alt="sorting-arrow"
                >
                </th>
                <th scope="col" (click)="changeSorting('section')" *ngIf="!viewOnPhone()" [class.sortBy]="sorting.section">
                Sekcja
                <img 
                    class="sorting-arrow"
                    [class.asc]="sorting.section === 'asc'"
                    [class.desc]="sorting.section === 'desc'" 
                    src="../../../assets/icons/arrow.svg"
                    alt="sorting-arrow"
                >
                </th>
                <th scope="col">
                Akcje
                </th>
            </tr>
            <tr class="search-row" [class.open]="searchingRowIsOpen">
                <th class="search-row-toggle" scope="col" (click)="searchingRowIsOpen = !searchingRowIsOpen">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/>
                    </svg>
                </th>
                <th scope="col"><input [(ngModel)]="filtering.firstName" (keyup)="filter()" type="text"></th>
                <th scope="col"><input [(ngModel)]="filtering.lastName" (keyup)="filter()" type="text"></th>
                <th scope="col"><input [(ngModel)]="filtering.instrument" (keyup)="filter()" type="text"></th>
                <th scope="col" *ngIf="!viewOnPhone()"><input [(ngModel)]="filtering.section" (keyup)="filter()" type="text"></th>
                <th scope="col">
                    <button class="btn btn-primary btn-sm" *ngIf="isAnyFilter() && searchingRowIsOpen" (click)="clearFilters()">
                        <i class="bi bi-backspace-fill"></i>
                    </button>
                </th>
            </tr>
        </thead>
        <tbody *ngIf="members.length">
            <tr *ngFor="let member of filteredMembers; let i = index">
                <th (click)="goToDetails(member._id)" scope="row">{{i+1}}</th>
                <td (click)="goToDetails(member._id)">{{member.firstName}}</td>
                <td (click)="goToDetails(member._id)">{{member.lastName}}</td>
                <td (click)="goToDetails(member._id)">{{member.instrument.name}}</td>
                <td (click)="goToDetails(member._id)"  *ngIf="!viewOnPhone()">{{member.instrument.section.name}}</td>

                <!-- ACTION ON TABLET / LAPTOP -->
                <td *ngIf="!viewOnPhone()" class="action">
                    <button class="btn btn-primary btn-sm" (click)="editMemberisOpen=true; selectedMemberAction=member">
                        <i class="bi bi-pencil"></i>
                    </button>
                    <button class="btn btn-danger btn-sm" (click)="confirmationRemoveIsOpen=true; selectedMemberAction=member">
                        <i class="bi bi-person-x-fill"></i>
                    </button>
                    <button *ngIf="activeTab && activeTab.exMembers" class="btn btn-primary btn-sm"
                        (click)="confirmationRestoreIsOpen=true; selectedMemberAction=member">
                        <i class="bi bi-skip-backward-fill"></i>
                    </button>
                </td>

                <!-- ACTION ON PHONE -->
                <td *ngIf="viewOnPhone()" class="action" ngbDropdown>
                    <div #actionsToggle class="trigger" ngbDropdownToggle></div>
                    <div class="buttons" ngbDropdownMenu >
                        <button ngbDropdownItem class="btn btn-primary  btn-sm" (click)="editMemberisOpen=true; selectedMemberAction=member">
                            edytuj
                        </button>
                        <button ngbDropdownItem class="btn btn-danger  btn-sm" (click)="confirmationRemoveIsOpen=true; selectedMemberAction=member">
                            usuń
                        </button>
                        <button ngbDropdownItem *ngIf="activeTab && activeTab.exMembers" class="btn btn-primary btn-sm"
                            (click)="confirmationRestoreIsOpen=true; selectedMemberAction=member">
                            przywróć
                        </button>
                        <button class="btn btn-secondary btn-sm" (click)="actionsToggle.click()">Anuluj</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="loading-wrapper" *ngIf="loading">
        <app-loading></app-loading>
    </div>
</div>

<app-confirmation
  *ngIf="confirmationRemoveIsOpen"
  [type]="'removeMember'"
  [data]="selectedMemberAction"
  (onConfirm)="removeMember(selectedMemberAction._id, selectedMemberAction.isActive)"
  (onAbort)="confirmationRemoveIsOpen=false"
></app-confirmation>

<app-confirmation
    *ngIf="confirmationRestoreIsOpen"
    [type]="'restoreMember'"
    [data]="selectedMemberAction"
    (onConfirm)="restoreMember(selectedMemberAction._id)"
    (onAbort)="confirmationRestoreIsOpen=false"
></app-confirmation>

<app-add-member *ngIf="editMemberisOpen" [memberToEdit]="selectedMemberAction" (onEditClose)="editMemberisOpen=false"></app-add-member>

