<app-modal-wrapper>
    <div class="action-modal">
        <h2 >Dodaj rzecz</h2>
        
        <div class="m-3">
            <label for="birthDate">Kategoria</label>
            <select [(ngModel)]="activeCategory">
                <option value="instruments">instrumenty</option>
                <option value="uniforms">umundurowanie</option>
                <option value="sections">sekcje</option>
                <option value="instructors">instruktorzy</option>
                <option value="others">pozostałe</option>
            </select>
        </div>

        <div *ngIf="activeCategory==='instruments'" class="mb-3">
            <label for="birthDate">Sekcja</label>
            <select *ngIf="sections" [(ngModel)]="activeSection" (change)="getInstrumentsBbySection()">
                <option *ngFor="let section of sections" [value]="section._id">{{section.name}}</option>
            </select>
        </div>

        <div *ngIf="instrumentsReady" class="mb-3">
            <label for="instrumentsBySection">Instrument</label>
            <select *ngIf="instrumentsBySection.length" [(ngModel)]="activeInstrument">
                <option *ngFor="let instrument of instrumentsBySection" [value]="instrument._id">{{instrument.name}}</option>
            </select>
        </div>

        <form id="instrumentForm" *ngIf="activeInstrument" [formGroup]="instrumentForm" (ngSubmit)="addInstrument()">
            <div class="mb-2 form-control-wrapper">
                <label for="brand">Marka</label>
                <input
                    id="brand"
                    type="text"
                    class="form-control"
                    placeholder="marka"
                    formControlName="brand"
                >
            </div>
            <div class="mb-2 form-control-wrapper">
                <label for="model">Model</label>
                <input
                    id="model"
                    type="text"
                    class="form-control"
                    placeholder="model"
                    formControlName="model"
                >
            </div>
            <div class="mb-2 form-control-wrapper">
                <label for="model">Nr seryjny</label>
                <input
                    id="serialNumber"
                    type="text"
                    class="form-control"
                    placeholder="nr seryjny"
                    formControlName="serialNumber"
                >
            </div>
            <div class="mb-2 form-control-wrapper">
                <label for="model">Stan</label>
                <input
                    id="condition"
                    type="text"
                    class="form-control"
                    placeholder="np. do remontu lub sprawny"
                    formControlName="condition"
                >
            </div>

            <div class="mb-2 form-control-wrapper">
                <label for="model">Informacje dodatkowe</label>
                <input
                    id="description"
                    type="text"
                    class="form-control"
                    placeholder="Krótki opis, dodatkow informacje"
                    formControlName="description"
                >
            </div>

            <div class="mb-2 form-control-wrapper">
                <label for="model">Osoba przypisana</label>
                <select formControlName="user">
                    <option *ngFor="let member of activeMembers" [value]="member._id">{{member.firstName + ' ' + member.lastName}}</option>
                </select>
            </div>
        </form>


        <div class="buttons-wrapper">
            <button class="button-secondary" (click)="closeModal()">Anuluj</button>
            <button class="button-primary" type="submit" form="instrumentForm" [disabled]="instrumentForm.status === 'INVALID'">Dodaj</button>
        </div>
    </div>
    
</app-modal-wrapper>
