<div class="module-container">
    <div class="year-selector">
        <button class="btn btn-primary" (click)="goPreviousYear()"><i class="bi bi-chevron-left"></i></button>
        <span>{{ showingYear }}</span>
        <button class="btn btn-primary" (click)="goNextYear()"><i class="bi bi-chevron-right"></i></button>
    </div>
    <div class="actions">
        <button class="btn btn-primary">Stwórz nową listę</button>
        <button class="btn btn-danger">Usuń listę</button>
        <button class="btn btn-primary" (click)="toggleaddMemberToListIsOpen()">Edytuj użytkowników</button>
    </div>

    <app-contributions-table [list]="listToShow"></app-contributions-table>
</div>

<app-add-user
    *ngIf="addMemberToListIsOpen"
    [listId]="listToShow._id"
    [currentMembers]="listToShow.members"
    [year]="listToShow.year"
    (onClose)="toggleaddMemberToListIsOpen()"
></app-add-user>


