.module-container {
    padding: 10px;
    margin-bottom: 15px;
    height: calc(100vh - 140px);
    overflow-y: auto;
}

.year-selector {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
  
    span {
      width: 125px;
      text-align: center;
    }
  }